/* Adapted from https: //www.geeksforgeeks.org/how-to-create-responsive-admin-dashboard-using-html-css-javascript/ */

@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

/* #####################
### GENERIC ELEMENTS ###
##################### */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

:root {
    --background-color1: #fafaff;
    --background-color2: #fff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #3f0097;
    --one-use-color: #3f0097;
    --two-use-color: #5500cb;
}

body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgb(161 182 253 / 82.5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 27px;
    font-weight: 600;
    color: rgb(47 141 70);
}

.icn {
    height: 30px;
}

.menuicn {
    cursor: pointer;
}

.logosec {
    gap: 60px;
}

.logout-button {
    height: auto;
    width: auto;
    display: flex;
    white-space: nowrap;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(0 0 248);
    font-size: 15px;
    border: none;
    background: none;
}

.message {
    gap: 40px;
    position: relative;
    cursor: pointer;
}

.greeting-text {
    font-size: 20px;
    font-weight: 500;
    color: #008e1a;
    font-style: italic;
}

.circle {
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #fa7bb4;
    border-radius: 50%;
    left: 19px;
    top: 8px;
}

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}

.main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow: hidden scroll;
    padding: 40px 30px 30px;
}

.main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, rgb(0 0 85), rgb(0 0 50));
}

.main::-webkit-scrollbar {
    width: 5px;
}

.main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

/* ###########
### NAVBAR ###
########### */

.nav {
    min-height: 91vh;
    width: 250px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0;
    left: 00;
    box-shadow: 1px 1px 10px rgb(198 189 248 / 82.5%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 265px;
    position: relative;
    overflow: hidden scroll;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
}

.nav-img {
    height: 30px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option1 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
}

.option1:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
}

/* ################################
### MAIN CONTAINERS AND HEADERS ###
################################ */

.topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
}

.projects-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 30px auto 0;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188 188 188);
    padding: 0 20px 20px;
}

.projects-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px;
    border-bottom: 2px solid rgb(0 20 151 / 59%);
}

.project-header-text {
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
    white-space: nowrap !important;
}

.view {
    height: 35px;
    width: fit-content;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.projects-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

.projects-topic-heading,
.item1 {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-op {
    font-size: 18px;
    letter-spacing: 0;
}

.t-op-nextlvl {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 600;
}

.label-tag {
    width: 100px;
    text-align: center;
    background-color: rgb(0 177 0);
    color: white;
    border-radius: 4px;
}

.settings-container {
    min-height: 50px;
    max-width: 1200px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188 188 188);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.settings-text {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #5500cb;
}

.settings-subtext {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    color: #008e1a;
}

.login-move-form {
    padding-bottom: 10px;
    padding-right: 8px;
    width: 100%;
}

/* ############
### BUTTONS ###
############ */

.menu-button {
    margin-inline: 10px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(0 30 87 / 75.1%);
}

.menu-button-text {
    font-size: 15px;
    font-weight: 600;
    color: #5500cb;
}

.menu-button:hover {
    background-color: #ddd;
}

.back-to-project {
    display: block;
    margin-left: auto;
    margin-right: 20px;
}

.save-changes {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 20px;
}

.custom-link {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.custom-link:hover {
    color: blue;
}

.sign-password-link {
    margin-top: 6px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.center-login-warning {
    text-align: center;
}

.login-signup {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 290px;
    max-height: 200px;
}

@media screen and (width <=768px) {
    .projects-container {
        overflow: hidden;
    }
}

.header-button-div {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

.button-link-text {
    text-decoration: none;
    white-space: nowrap;
}

/* #########################
### STANDARD TABLE STYLE ###
######################### */

.main-table {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    white-space: nowrap;
    border-collapse: collapse;
    max-height: 20px;
}

.main-table th {
    background-color: rgb(47 141 70);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.main-table td {
    vertical-align: center;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.highlighted-row {
    background-color: #cad7fda4;
}

.highlighted-request {
    background-color: rgb(157 213 235);
}

.clickable-mouse-td,
.clickable-request-td {
    cursor: pointer;
}

.form-table {
    margin: 0 auto;
    font-weight: 600;
}

.form-table td input[type='text'],
.form-table td input[type='password'] {
    width: 100%;
    max-width: 284px;
    height: 32px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.last-td-element {
    width: 100%;
}

/* ##########################
#### POPUP MOUSE DETAILS ####
########################## */

/* from https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
    display: none;

    /* Hidden by default */
    position: fixed;

    /* Stay in place */
    z-index: 1;

    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;

    /* Full width */
    height: 100%;

    /* Full height */
    overflow: auto;

    /* Enable scroll if needed */
    background-color: rgb(0 0 0);

    /* Fallback color */
    background-color: rgb(0 0 0 / 40%);
}

/* Modal Content/Box */
#mouse-information-pop-up,
#request-messaging-pop-up {
    background-color: #fefefe;
    border-radius: 20px;
    margin: 15% auto;

    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 40%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ############################
#### DROPDOWN FILTER MENUS #### 
############################ */

/* Copied from https://www.w3schools.com/howto/howto_css_dropdown.asp */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Links inside the dropdown */
.dropdown-menu {
    display: none;
    z-index: 1;
    width: 380px;
    height: 24px;
    position: absolute;
    top: 6%;
    left: 92%;
}

.dropdown-menu a {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    padding-left: 14px;
}

.dropdown-menu a:last-child {
    margin-right: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.project-table td {
    padding: 10px;
    /* Add padding to td elements */
}

.project-table tr {
    margin-bottom: 10px;
    /* Add margin between tr elements */
}

/* ##############
#### TOOLTIP #### 
############## */

/* Copied from https://www.w3schools.com/css/css_tooltip.asp */

.menu-button .tooltiptext {
    visibility: hidden;
    width: auto;
    height: auto;
    background-color: lightgray;
    color: #0e0067;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    font-size: 15px;
    white-space: nowrap;
}

.menu-button:hover .tooltiptext {
    visibility: visible;
}

/* ###################
### CREATE ACCOUNT ###
################### */

.question_mark_signup {
    margin-left: 4px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.tooltip_text_signup {
    color: black;
    font-size: 11px;
    white-space: nowrap;
}

.signup-nowrap {
    white-space: nowrap;
}

.signup-table-container {
    white-space: nowrap;
}

.signup-table-container tr {
    display: table-row;
}

.signup-table-container td {
    padding: 10px 20px;
    vertical-align: top;
}

.signup-button {
    position: relative;
    padding-left: 262px;
    white-space: nowrap;
}

.screenshot {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
