* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

table {
    width: 100%;
    display: block;
    height: 600px;
    overflow-y: scroll;
}

th {
    background-color: #99aeb4;
    color: white;
    text-align: center;
    padding: 10px;
}

td {
    vertical-align: center;
    text-align: left;
    padding: 10px;
}

input {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.header {
    background-color: beige;
    text-align: center;
    padding: 20px;
}

.filter {
    display: none;
    overflow: hidden;
    background-color: #ada18d;
}

.filterButton {
    background-color: #39342a;
    padding: 16px;
    color: white;
    text-align: center;
}

.column {
    float: left;
    padding: 10px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.clearButton {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
}

.right-align {
    float: right;
}

.left-align {
    float: left;
}

.filter a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid black;
}

.filter a:hover {
    background-color: #554f45;
    color: beige;
}

.column.table {
    width: 60%;
}

.column.info {
    width: 40%;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (width <= 800px) {
    .column.table,
    .column.info {
        width: 100%;
    }
}

@media screen and (width <= 1000px) {
    .filter a {
        float: none;
        width: 100%;
    }
}

/* Want to change this odd/even assignment to be dynamic.
For example, currently when you search earmark it doesn't reassign odd/even colours */
tr:nth-child(2n + 1) {
    background-color: #f7fbff;
}
tr:nth-child(2n + 2) {
    background-color: #e0e4e8;
}
tr:hover {
    background-color: #cdd1d5;
}
