{% extends 'base_template.html' %}
{% load static %}
{% block title %}Stock Cages{% endblock %} 
{% block content %}
<div class="container-fluid">

    <!-- Header and buttons -->
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between " >
            <h1 class="project-header-text">Stock Cage List</h1>
            <div>
                <a href="#}" class="btn btn-primary">Add Stock Cage</a>
            </div>
        </div>
    </div>

    <!-- Show stock cages -->
    <div class="row">
        {% for cage in cages %}
        <div class="col">
            <div class="card card-body square-cage mb-4 shadow-sm">
                <h5 class="card-title">
                    <a href="#" class="text-decoration-none">{{ cage.cage_id }}</a>
                </h5>
                <a href="#" class="text-decoration-none">
                    <img src="{% static '/media/edit.svg' %}" alt="Edit" style="height: 1em;">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <p>No functionality here yet, you can only see how many stock cages exist.</p>

</div>
{% endblock %}