{% extends 'base_template.html' %}
{% load static %}
{% block title %}Add Mouse to Repo{% endblock %}
{% block content %}
<div class="container">


<!-- Add dob, strain, mother, and father information back in as information in the header-->

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="table">
            <thead>
                <tr>
                    <th>Tube</th>
                    <th>Sex</th>
                    <th>Coat</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                    {% for field in form %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
{% endblock %}

