/*#############################
### Vertical navigation bar ###
########################### #*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.bg-primary {
    background-color: #007bff !important;
}

.text-primary {
    color: #007bff !important;
}

.nav-pills .nav-link {
    border-radius: 0;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
}

/*#################
### Cage design ###
#################*/

.square-cage {
    width: 15em;
    height: 15em;
    object-fit: cover;
    min-width: 200px;
    max-width: 300px;
}