{% extends 'base_template.html' %} {% load static %} 
{% block title %}Researcher View Project{% endblock %}
{% block content %}

<!-- The Modal (mouse information popup)-->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div id="mouse-information-pop-up">
    <span id="modal-span" class="close">&times;</span>
  </div>
</div>
{% comment %} <span class="tooltiptext">
          Edit and save your displaying preference as options.
        </span> {% endcomment %}
<!-- Main content -->
<!-- dropdown-content -->
<div class="projects-container">
    <div class="projects-header" style="justify-content: flex-start; overflow-y: auto;">
        <h1 class="project-header-text">{{ mystrain }}</h1>
        <div class="dropdown">
      <button class="menu-button menu-button-text">Preference</button>
      <div class="dropdown-menu menu-button menu-button-text">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
        <a href="#">Option 4</a>
      </div>
    </div>
    {% comment %} 
      <button class="menu-button menu-button-text" style="margin-left: auto; margin-right: 10px;">
          <a href="{% url 'add_mouse' myproject.projectname %}" style="text-decoration: none; white-space: nowrap;">
              Add Mouse
          </a>
      </button>
    {% endcomment %}
    </div>
    <div style="overflow-x: auto">
      <table class="project-table"  style="border-collapse: collapse;">
        <tr>
          <td>
            <label for="id_input">Mouse ID:</label> 
          </td> 
          <td>
            <input type="text" id="id_input" placeholder="Mouse ID">
          </td>
          <td>
            <label for="sex_dropdown">Sex:</label>
          </td>
          <td>
            <select id="sex_dropdown">
              <option value="sex">Sex</option>
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </td>
        </tr>
        <tr>

          <td>
            <label for="cage_id_input">Cage ID:</label> 
          </td>
          <td>
            <input type="text" id="cage_id_input" placeholder="Cage ID">
          </td>
          <td>
            <label for="earmark_input">Earmark:</label> 
          </td>
          <td>
            <input type="text" id="earmark_input" placeholder="Earmark">
          </td>
        </tr>
        <tr>
          <td>
            <label for="dob_start_input" style="white-space: nowrap;">Date of Birth: </label> 
          </td>
          <td style="white-space: nowrap;">
            <input type="date" id="dob_start_input" placeholder="Start of DOB">
            <span>--</span>
            <input type="date" id="dob_end_input" placeholder="End of DOB">
          </td>
        </tr>
        <tr>

          <td>
            <label for="genotyper_input">Genotyper:</label> 
          </td>
          <td>
            <input type="text" id="genotyper_input" placeholder="Genotyper"> 
          </td>
          <td colspan="3">
            <span style="display: flex; flex-direction: row; white-space: nowrap; overflow-x: auto; align-items: flex-end;">
              <button class="menu-button menu-button-text" onclick="search()">Search</button>
              <button class="menu-button menu-button-text" onclick="cancelSearch()">Cancel</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div style="overflow-x: auto">
 
    <button class="menu-button menu-button-text" style="margin-left: auto; margin-right: 10px;">
      <a href="{% url 'breeding_wing_add_litter' %}" style="text-decoration: none; white-space: nowrap;">
          Add Litter
      </a>
    </button>

  </div>
  <div style="overflow-x: auto">
    <table class="main-table" id="mice_table">
      <thead>
        <tr style="position: sticky; top: 0">
          <th></th>
          <th>Mouse ID</th>
          <th>DOB</th>
          <th>Sex</th>
          <th>Cage</th>
          <th>Earmark</th>
        </tr>
      </thead>
      <tbody>
        {% for mouse in mymice %}
        <tr id="row{{ mouse.id }}">
          <td>
            {% comment %}             
            <input
                type="checkbox"
                id="strain{{ strain.id }}"
                onclick="highlightMouse('row{{ strain.id }}')"
            /> {% endcomment %}

          </td>
          <td class="clickable-td">{{ mouse.id }}</td>
          <td class="clickable-td">{{ mouse.dob }}</td>
          <td class="clickable-td">{{ mouse.sex }}</td>
          <td class="clickable-td">{{ mouse.cage_id }}</td>
          <td class="clickable-td">{{ mouse.earmark_id }}</td>
          
          {% comment %} TEMPORALLY REMOVED EDIT/DELETE FUNCIONALITY - mismatch between projectname and strain_name between researcher and breeding wing pages {% endcomment %}
          {% comment %} 
          <td>
            <a href="{% url 'edit_mouse' projectname=project.projectname mouse_id=mouse.id %}"><img src="{% static '/media/edit.svg' %}" style="height: 20px"></a>
          </td>
          <td>
            <a onclick="return confirm('Are you sure you want to delete this mouse?')" href="{% url 'delete_mouse' projectname=projectname mouse_id=mouse.id %}">
              <img src="{% static '/media/delete.svg' %}" style="height: 20px">
            </a>
          </td>
          {% endcomment %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="{% static 'show_project.js' %}"></script>
{% endblock %}