{% extends 'base_template.html' %} {% load static %} 
{% block title %}Breeding Wing View Cage{% endblock %}
{% block content %}

<div class="container">
  <div class="d-flex align-items-center justify-content-start overflow-auto">
    <h1 class="h4">Cage Number: {{ mycage.box_no }}</h1>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>Status:</td>
        <td>{{ mycage.status }}</td>
        <td>Dborn:</td>
        <td>{{ mycage.date_born }}</td>
      </tr>
      <tr>
        <td>Male ID:</td>
        <td>{{ mycage.father }}</td>
        <td>Nborn:</td>
        <td>{{ mycage.number_born }}</td>
      </tr>
      <tr>
        <td>Female: ID</td>
        <td>{{ mycage.mother }}</td>
        <td>C/To:</td>
        <td>{{ mycage.cull_to }}</td>
      </tr>
      <tr>
        <td>Dwean:</td>
        <td>{{ mycage.date_wean }}</td>
        <td>Nwean:</td>
        <td>{{ mycage.number_wean }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>PWL:</td>
        <td>{{ mycage.pwl }}</td>
      </tr>
    <tbody>
  </table>
</div>
<script src="{% static 'show_project.js' %}"></script>
{% endblock %}
