{% extends 'base_template.html' %}
{% load static %}
{% block title %}Mice Repository{% endblock %}
{% block content %}
    
    <div class="container-fluid">
        <a href="{% url 'mice_repository:add_mouse_to_repository' %}" class="btn btn-primary mb-3">Add Pre-existing Mice</a>
        <p> Filter functionality similar to what was demonstrated before will be added at the top of this page so you can return extremely specific subsets of all mice</p>
        <div class="container-fluid d-flex">
            <div class="col">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr class="sticky-top">
                            <th scope="col">Global ID</th>
                            <th scope="col">Tube</th>
                            <th scope="col">Earmark</th>
                            <th scope="col">Sex</th>
                            <th scope="col">DoB</th>
                            <th scope="col">Coat</th>
                            <th scope="col">Strain</th>
                            <th scope="col">Mother</th>
                            <th scope="col">Father</th>
                            <th scope="col">Result</th>
                            <th scope="col">Fate</th>
                            <th scope="col">Action</th>
                            {% comment %} A current location would be useful {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for mouse in mymice %}
                        <tr>
                            <td>{{ mouse.pk }}</td>
                            <td>{{ mouse.tube }}</td>
                            <td>{{ mouse.earmark }}</td>
                            <td>{{ mouse.sex }}</td>
                            <td>{{ mouse.dob }}</td>
                            <td>{{ mouse.coat }}</td>
                            <td>{{ mouse.strain }}</td>
                            <td>{{ mouse.mother }}</td>
                            <td>{{ mouse.father }}</td>
                            <td>{{ mouse.result }}</td>
                            <td>{{ mouse.fate }}</td>
                            <td class="p-0 align-middle"> 
                                <a 
                                href="{% url 'mice_repository:edit_mouse_in_repository' mouse.pk %}" 
                                class="btn btn-sm btn-success" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Edit Mouse">
                                E
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
