{% extends 'base_template.html' %} {% load static %} 
{% block title %}Breeding Wing View Cage{% endblock %}
{% block content %}

<!-- Main content -->
<!-- dropdown-content -->
<div class="projects-container">
    <div class="projects-header" style="justify-content: flex-start; overflow-y: auto;">
        <h1 class="project-header-text">How to add a new mouse</h1>
        <button class="menu-button menu-button-text back-to-project">
            <a href="{% url 'help' %}" style="text-decoration: none;">
            Back to Help Manual
            </a>
        </button>
    </div>
    <div>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            To add a new mouse, make sure you are on the correct Project page: 
        </h3>
        <img src="{% static '/screenshots/PView.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;">
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            Click the <a style="font-weight: 700">Add Mouse</a> button to open the add mouse page:
        </h3>
        <img src="{% static '/screenshots/AddMouse.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;">
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            On the add mouse page, follow the instruction to add a new mouse.
        </h3>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            Remember to fill in <a style="font-weight: 700">all</a> the required field and Click
            <a style="font-weight: 700">Confirm Add Mouse</a> button to proceed. 
        </h3>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            The database will be updated with the data you've just inserted. 
        </h3>
    </div>
</div>
{% endblock %}