{% extends 'base_template.html' %} {% load static %} 
{% block title %}Breeding Wing View Cage{% endblock %}
{% block content %}

<!-- Main content -->
<!-- dropdown-content -->
<div class="projects-container">
    <div class="projects-header" style="justify-content: flex-start; overflow-y: auto;">
        <h1 class="project-header-text">How to add a comment</h1>
        <button class="menu-button menu-button-text back-to-project">
            <a href="{% url 'help' %}" style="text-decoration: none;">
            Back to Help Manual
            </a>
        </button>
    </div>
    <div>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            To add a comment, look for the mouse you want to add comments to and locate the notes icon:<img src="{% static '/images/comment.svg' %}" style="height: 20px">
        </h3>
        <img src="{% static '/screenshots/PView.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;"> 
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            Clicking the icon will bring up a pop up window, in which you can insert and save your comments:
        </h3>
        <img src="{% static '/screenshots/Comment.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;"> 
    </div>
</div>
{% endblock %}