{% extends 'base_template.html' %} {% load static %} 
{% block title %}Breeding Wing View Cage{% endblock %}
{% block content %}

<!-- Main content -->
<!-- dropdown-content -->
<div class="projects-container">
    <div class="projects-header" style="justify-content: flex-start; overflow-y: auto;">
        <h1 class="project-header-text">How to edit the details of an existing breeding cage</h1>
        <button class="menu-button menu-button-text back-to-project">
            <a href="{% url 'help' %}" style="text-decoration: none;">
            Back to Help Manual
            </a>
        </button>
    </div>
    <div>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            To edit an existing breeding cage, navigate to the breeding cage page: 
        </h3>
        <img src="{% static '/screenshots/BWView.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;">
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            Look for the breeding cage you want to edit, and locate the pencil icon: <img src="{% static '/images/edit.svg' %}" style="height: 20px"> 
        </h3>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            Click the icon to open the edit cage page for that particular breeding cage. 
        </h3>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            On the edit cage page, you should be able to see all current data that are stored in the database:
        </h3>
        <img src="{% static '/screenshots/EditCage.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;">
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            Modify the data you wish to change and Click
            <a style="font-weight: 700">Save Changes</a> button to proceed. 
        </h3>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            The database will be updated with the data you've just inserted. 
        </h3>
    </div>
</div>
{% endblock %}