{% extends 'base_template.html' %} {% load static %} 
{% block title %}Breeding Wing View Cage{% endblock %}
{% block content %}

<!-- Main content -->
<!-- dropdown-content -->
<div class="projects-container">
    <div class="projects-header" style="justify-content: flex-start; overflow-y: auto;">
        <h1 class="project-header-text">How to view the family tree of a mouse</h1>
        <button class="menu-button menu-button-text back-to-project">
            <a href="{% url 'help' %}" style="text-decoration: none;">
            Back to Help Manual
            </a>
        </button>
    </div>
    <div>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            To view the family tree of a particular mouse, simply click the <a style="font-weight: 700;">Tree Icon</a>
            <img src="{% static 'images/tree-structure-fill-svgrepo-com.svg' %}" style="height: 20px"> 
            of that mouse.
        </h3>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            This will bring up the family tree of the mouse:
        </h3>
        <img src="{% static '/screenshots/FTree.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;">
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            To close the tree, simply click the <a style="font-weight: 700;">X</a> button at the top right corner.
        </h3>
    </div>
</div>
{% endblock %}