{% extends 'base_template.html' %} {% load static %} 
{% block title %}Breeding Wing View Cage{% endblock %}
{% block content %}

<!-- Main content -->
<!-- dropdown-content -->
<div class="projects-container">
    <div class="projects-header" style="justify-content: flex-start; overflow-y: auto;">
        <h1 class="project-header-text">How to register and manage your account</h1>
        <button class="menu-button menu-button-text back-to-project">
            <a href="{% url 'help' %}" style="text-decoration: none;">
            Back to Help Manual
            </a>
        </button>
    </div>
    <div>
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            To register, navigate to the login page, click the 
            <a style="font-weight: 700;">Create an Account</a> 
            button to open the register page:
        </h3>
        <img src="{% static '/screenshots/Login.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;">
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            Follow the instruction and click the 
            <a style="font-weight: 700;">Sign Up</a> 
            button to create your account:
        </h3>
        <img src="{% static '/screenshots/Register.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;">
        <h3 style="margin-left: 20px; margin-top: 20px; font-weight: 400;">
            Forgotten password can be reset with the email you used to create the account. Simply click the 
            <a style="font-weight: 700;">Lost Passord?</a> 
            button to navigate to the password reset page (Django Admin):
        </h3>
        <img src="{% static '/screenshots/Login.png' %}" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; width: 70%;">
    </div>
</div>
{% endblock %}