{% extends 'base_template.html' %}
{% load static %}
{% block title %}Mice Repository{% endblock %}
{% block content %}
    <div class="container-fluid">
        <a href="add_mouse_to_repository" class="btn btn-primary mb-3">Add Pre-existing Mice</a>
        <div class="container-fluid d-flex">
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Tube</th>
                            <th scope="col">Earmark</th>
                            <th scope="col">Sex</th>
                            <th scope="col">DoB</th>
                            <th scope="col">Coat</th>
                            <th scope="col">Strain</th>
                            <th scope="col">Mother</th>
                            <th scope="col">Father</th>
                            <th scope="col">Result</th>
                            <th scope="col">Fate</th>
                            {% comment %} A current location would be useful {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for mouse in mymice %}
                        <tr>
                            <td>{{ mouse.tube }}</td>
                            <td>{{ mouse.earmark }}</td>
                            <td>{{ mouse.sex }}</td>
                            <td>{{ mouse.dob }}</td>
                            <td>x</td>
                            <td>{{ mouse.strain }}</td>
                            <td>{{ mouse.mother }}</td>
                            <td>{{ mouse.father }}</td>
                            <td>x</td>
                            <td>x</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
