{% load static %}
{% block title %}Add Mouse to Project{% endblock %}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add mice to {{ project_name }} </h5>
        </div>
        <div class="modal-body">
            <div class="mt-2 p-1">
                <form method="post" action="{% url 'projects:add_mouse_to_project' project_name %}" class="form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="mt-2 text-center">
                        <span class="p-1">{{ field }}</span>
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-around mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" name="confirm_request" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>