{% extends 'base_template.html' %} {% load static %} {% load filter_form %} {% load custom_filters %}
{% block title %}View Project{% endblock %} {% block content %}
<!-- BREAK UP THIS TEMPLATE INTO COMPONENTS - IT'S TOO BIG -->
    <div class="container-fluid py-3">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>{{ project.project_name }}</h1>
        </div>
        <!-- Hide filter form if button clicked -->
        <!-- Ideally, make filter form hidden by default and only show on page reload if any filter fields have values in them -->
        <div x-data="{ showForm: true }">
            <button
                class="btn btn-secondary mb-3"
                @click="showForm = !showForm"
                x-text="showForm ? 'Hide Filter' : 'Show Filter'"
            ></button>
            {% render_filter_form filter_form %}
        </div>

        <form method="post" action="{% url 'projects:show_project' project_name=project.project_name %}">
            {% csrf_token %}
            <div class="row">
                <div class="d-flex">
				<!-- Pagination -->
                    {% if project_mice.has_other_pages %}
                        <nav aria-label="Page navigation" class="d-inline-block">
                            <ul class="pagination">
                                {% if project_mice.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{{ query_params.urlencode }}&page={{ project_mice.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for page_num in project_mice.paginator.page_range %}
                                    {% if page_num == project_mice.number %}
                                        <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?{{ query_params.urlencode }}&page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if project_mice.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{{ query_params.urlencode }}&page={{ project_mice.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% else %}
                        <nav aria-label="Page navigation" class="d-inline-block">
                            <ul class="pagination"><li class="page-item"><span class="page-link">1</span></li></ul>
                        </nav>
                    {% endif %}

                    <div class="col-1 mx-3">
                        <button class="btn btn-primary align-self-center" data-toggle="tooltip" data-placement="top" title="Request task on selected mice" name="add_request" type="submit">
                            Request Task
                        </button>
                    </div>



				<!-- If no mice were selected via checkbox before the "Request Task" button was pressed , an error message should appear here.
				Error messages did appear before, but don't anymore, not sure why. -->
                    <div class="col">
                        {% for error in select_form.mice.errors %}
                            <div class="align-self-center" role="alert"><b>{{ error }}</b></div>
                        {% endfor %}
                    </div>
                </div>

            </div>


		    <!-- Table of mice -->
            <div class="row">
                <div class="col-6">
                    <table class="table table-striped table-hover table-bordered mb-0 shadow-sm">
                        <thead class="thead-light">
                            <tr class="sticky-top">
                                <th class="p-0">
                                </th>
                                <th>Mouse ID</th>
                                <th>Sex</th>
                                <th>Age (Days)</th>
                                <th>Parents</th>
                                <th>Earmark</th>
                                <th>Activity</th>
                            </tr>
                        </thead>
                        {% with total_rows=15 %}
                            <tbody>
                                {% for mouse in project_mice %}
                                    <tr>
                                        <td><input type="checkbox" name="mice" value='{{ mouse.pk }}'></td>
                                        <td hx-get="{% url 'projects:info_panel' mouse.pk %}"
                                            hx-target="#info-panel"
                                            hx-trigger="click">{{ mouse.pk }}</td>
                                        <td hx-get="{% url 'projects:info_panel' mouse.pk %}"
                                            hx-target="#info-panel"
                                            hx-trigger="click">{{ mouse.sex }}</td>
                                        <td hx-get="{% url 'projects:info_panel' mouse.pk %}"
                                            hx-target="#info-panel"
                                            hx-trigger="click">{{ mouse.age_days }}</td>
                                        <td>GUI</td>
                                        <td hx-get="{% url 'projects:info_panel' mouse.pk %}"
                                            hx-target="#info-panel"
                                            hx-trigger="click">{{ mouse.earmark }}</td>
                                        <td>{% if mouse.pk %}{% endif %}</td>
                                        <td hx-get="{% url 'mice_popup:family_tree' mouse.pk %}"
                                            hx-target="#info-panel"
                                            hx-swap="innerHTML"
                                            hx-trigger="click">tree
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for _ in project_mice|length|range:total_rows %}
                                    <tr>
                                        <td><input type="checkbox" disabled></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endwith %}
                    </table>
                </div>





                <div class="border ms-5 col-5 shadow-sm rounded" style="min-height:100%;">

                    <!-- Mouse info panel tabs -->
                    <!-- IMPORTANT - MOVE THIS TO ITS OWN TEMPLATE. CALL THAT TEMPLATE WITH "info_panel" VIEW. THAT WILL SOLVE MOUSE.PK PERSISTENCE ISSUE-->
                    <div class="row">
                        <ul id="popup-nav-bar" class="nav nav-pills d-flex">
                            <li class="nav-item flex-grow-1">
                                <div class="nav-link" hx-get="{% url 'projects:list_projects' %}" hx-target="#info-panel" hx-swap="innerHTML">Info</div>
                            </li>
                            <li class="nav-item dropdown flex-grow-1">
                                <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Trees</div>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" hx-get="{% url 'projects:list_projects' %}" hx-target="#info-panel" hx-swap="innerHTML">Ancestors</li>
                                    <li class="dropdown-item" href="#">Descendants</li>
                                </ul>
                            </li>
                            <li class="nav-item flex-grow-1">
                                <div class="nav-link" hx-get="{% url 'projects:list_projects' %}" hx-target="#info-panel" hx-swap="innerHTML">Comment</div>
                            </li>
                        </ul>
                    </div>

                    <!-- Mouse info panel content -->
                    <div id="info-panel" style="min-height: 100%;">
                        <p>Detail on demand panel for individual mouse</p>
                        <p>Clicking on the ID, sex, age, or earmark cell of a mouse row creates a placeholder here. Detailed mouse information will be available on click</p>
                        <p>Note - add a request tracker for individual mice here<p>
                        </div>
                        </div>

                    </div>
                </form>
            </div>
            <script src="https://d3js.org/d3.v5.min.js"></script>
{% endblock %}