{% extends 'base_template.html' %} {% load static %}
{% block title %}View Project{% endblock %} {% block content %}

<div class="container-fluid py-3">

	<!-- Functionality buttons -->
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h1>{{ project_name }}</h1>
		<div>
		<button class="btn btn-primary mr-2" id="add-request-button">Add Request</button>
		</div>
	</div>

	<!-- Filter form -->
	<form method="get" class="mb-3">
		<div class="row">
			<div class="col-md-8">
				{% for field in filter.form %}
				<span>
				{{ field.label }}
				{{ field }}
				</span>
				{% endfor %}
			</div>
			<div class="d-flex align-items-center justify-content-around col-md-4">
				<button type="submit" name="search" class="btn btn-primary">Search</button>
				<button type="submit" name="cancel" class="btn btn-secondary">Cancel</button>
			</div>
		</div>
	</form>

	<!-- Table of mice -->

	<!--
	<form method="post" action="{% url 'website:add_request' project_name=project_name %}">
		{% csrf_token %}-->
		<table class="table table-striped table-hover table-bordered">
			<thead class="thead-light">
				<tr class="sticky-top">
					<th>Select</th>
					<th>Mouse ID</th>
					<th>Genotyped</th>
					<th>Date of Birth</th>
					<th>Sex</th>
					<th>Earmark</th>
					<th>Tree</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
			{% for mouse in filter.qs %}
			<tr {% if mouse.id in mice_ids_with_requests %} class="highlighted-request" {% endif %} id="row{{ mouse.id }}">
				<td><input type="checkbox" name="mice" value='{{ mouse.id }}' onclick="highlightMouse('row{{ mouse.id }}')"></td>
				<td class="clickable-mouse-td" data-mouse-id="{{ mouse.id }}">{{ mouse.id }}</td>
				<td class="clickable-mouse-td" data-mouse-id="{{ mouse.id }}">{{ mouse.dob }}</td>
				<td class="clickable-mouse-td" data-mouse-id="{{ mouse.id }}">{{ mouse.sex }}</td>
				<td class="clickable-mouse-td" data-mouse-id="{{ mouse.id }}">{{ mouse.earmark }}</td>
				
				
				<td>edit</td>
				<td>
					<a onclick="return confirm('Are you sure you want to delete this mouse?')" href="#">
						del-nolink
					</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	<!--</form>-->
		
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
{% endblock %}
```