{% extends "base_template.html" %} {% load static %} 
{% block title %}Login{% endblock %}
{% block content %}

<div class="container py-3"> 
    <div class="text-center">
        <span>
            {% if form.errors %}
            <p class="text-muted"> Your username and password didn't match. Please try again.</p>
            {% endif %} 
            {% if next %}
                {% if user.is_authenticated %}
                    <p class="text-muted">Your account doesn't have access to this page. To proceed, please login with an account that has access</p>
                {% else %}
                    <p class="text-muted">Please login to see this page</p>
                {% endif %}
            {% endif %}
        </span>
    </div>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>{{ form.username.label_tag }}</td>
            </tr>
            <tr>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
            </tr>
            <tr>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td>
                    <div class="pt-2">
                        <button class="btn btn-primary" type="submit">
                            Login
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'signup' %}" class="text-decoration-none">Create an Account</a>    
                        <a href="{% url 'password_reset' %}" class="text-decoration-none">Lost password?</a>
                    </div>
                </td>
            <tr>
        </table>
    </form>
</div>

{% endblock %}
