<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_template.css' %}">
</head>

<body>

    <!-- Vertical navigation bar -->
    <div class="container-fluid px-0 min-vh-100 d-flex sticky-top">
        <div class="nav nav-pills flex-column bg-dark p-3">
            <a class="nav-link text-bg-dark fw-bold fs-4">M<img src="{% static 'media/mouse-pilot.png' %}" style="height: 1em;">usePilot</a>
            <div class="mt-2">
                <div class="text-bg-dark fw-bold fs-5">General</div>
                <a class="nav-link text-bg-dark p-2" href="#"><s>Dashboard</s></a>
                <a class="nav-link text-bg-dark p-2" href="{% url 'show_requests' %}">Requests</a>
                <a class="nav-link text-bg-dark p-2" href="#"><s>Mice Catalogue</s></a>
            </div>
            <div class="mt-2">
                <div class="text-bg-dark fw-bold fs-5">Users</div>
                <a class="nav-link text-bg-dark p-2" href="{% url 'researcher_dashboard' %}">Projects</a>
                <a class="nav-link text-bg-dark p-2" href="#"><s>Experimental Cages</s></a>
            </div>
            <div class="mt-2">
                <div class="text-bg-dark fw-bold fs-5">Breeding Wing</div>
                <a class="nav-link text-bg-dark p-2" href="{% url 'list_breeding_cages' %}">Breeding Cages</a>
                <a class="nav-link text-bg-dark p-2" href="#"><s>Stock Cages</s></a>
            </div>
            <div class="mt-2">
                <div class="text-bg-dark fw-bold fs-5">Utility</div>
                <a class="nav-link text-bg-dark p-2" href="{% url 'edit_history' %}">Edit History</a>
                <a class="nav-link text-bg-dark p-2" href="/admin/">Admin</a>
                <a class="nav-link text-bg-dark p-2" href="{% url 'help_page_root' %}">Help</a>
            </div> 
        </div>
        
        <div class="flex-grow-1 ">

            <!-- Site header -->
            <header class="bg-white py-3 border-bottom">
                <div class="container-fluid d-flex justify-content-end align-items-center ">
                    {% if user.is_authenticated %}
                        <span class="p-1">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="nav-link text-primary btn btn-link" type="submit">Logout
                                    <img src="{% static '/media/logout-svgrepo-com.svg' %}" alt="logout" class="me-2" style="height: 2em"> 
                                </button>
                            </form>
                        </span>
                    {% endif %}
                </div>
            </header>

            <!-- Page content -->
            <div class="col">
                <div class="d-flex p-4">
                    {% block content %}{% endblock %}
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>
</html>