{% extends 'base_template.html' %}
{% load static %}
{% block title %}Create Breeding Pair{% endblock %}
{% block content %}

<div class="container p-3">
    <h2 class="my-3">
        Add a Breeding Cage
    </h2>
    <div class="col-10">
        <ul class="list-group">
            <li class="list-group-item">
                This page is for adding a new breeding pair or an existing breeding cage that needs to be imported manually.
            </li>
            <li class="list-group-item">
                It will make a new breeding cage labelled with Box Numbers.
            </li>
        </ul>
        <button class="btn btn-secondary ml-auto mt-4">
            <a href="{% url 'breeding_cage:list_breeding_cages' %}" class="text-decoration-none text-white">
                Back to Breeding Cages
            </a>
        </button>
    </div>
</div>

<div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        <div class="mb-1">
            {% for field in form %}
            <div class="row mb-1">
                <div class="col-3 d-flex align-items-center">
                    {{ field.label_tag }}
                </div>
                <div class="col-9">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="btn btn-success mt-2" type="submit">
            Confirm Breeding Cage
    </form>
</div>
{% endblock %}